/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

#logonav {
    width: 150px;
    height: 45px;
    margin: 10px 20px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.linksnav a {
    margin: 0 8px;
    text-decoration: none;
    color: #1A1A1A ;
}

h1 {
    font-size: 40px;
    color: #FFF;
    margin-bottom: 30px;
}

.header {
    padding-top: 100px;
    text-align: center;
    color: #FFF;
    background-image: url(../images/landing.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
}
